<div class="min-h-screen bg-gray-100 flex flex-col md:flex-row">
  <!-- Sidebar -->
  <%= render "shared/sidebar" %>

  <div class="flex-1 flex flex-col">
    <!-- Navbar -->
    <%= render "shared/navbar" %>

    <main class="p-4 md:p-6">
      <div class="w-full">
        <div class="mx-auto mt-10 bg-white p-6 rounded shadow">          
          <%= render "form" %>
        </div>
      </div>
    </main>
  </div>
</div>